<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/prescription.css">
    <title>E-Prescription</title>
</head>

<body>
    <article class="container-fluid px-0 my-5">
        <header class="text-white bg-cadet-blue p-3">
            <div class="row container-md align-items-center justify-content-between justify-content-sm-center mx-auto">
                <div class="col-9 col-lg-6 py-5">
                    <h1 class="">HEALTH CHOICE CLINIC</h1>
                    <div class="mt-4">
                        <h6 class="">Riverside St, Bingham, NY 130, USA</h6>
                        <h6 class="">email/website</h6>
                    </div>
                </div>
                <div class="col-3 col-lg-2">
                    <img src="/doc.png" class="img-fluid" alt="doc">
                </div>
            </div>
        </header>
        <section class="container-md my-5 py-5" id="doctor-details">
            <div class="row mx-0 justify-content-center">
                <div class="col-6 col-lg-4 py-2">
                    <h5 class="text-cadet-blue py-2">Dr. Ashley D. Stone, M.D.</h5>
                    <h5 class="py-2">Medical Physician</h5>
                    <h5 class="py-2">+1 392-747-4830</h5>
                </div>
                <div class="col-6 col-lg-4 text-right py-2">
                    <h5 class="py-2">Prescription No.: 3810BN00</h5>
                    <h5 class="py-2">Date: 15/04/2023</h5>
                </div>
            </div>
        </section>
        <section class="container-md my-5">
            <div class="row mx-0 justify-content-center">
                <div class="col-lg-8 py-2">
                    <h5 class="py-2">Paracetamol, 500mg, 1-0-0</h5>
                    <h5 class="py-2">Ibuprofen, 600mg, 1-0-0</h5>
                    <h5 class="py-2">Naproxen Sodium, 500mg, 1-0-0</h5>
                </div>
            </div>
        </section>
        <section class="container-md my-5">
            <div class="row mx-0 justify-content-center">
                <div class="col-4 col-lg-3 text-cadet-blue py-2">
                    <h5 class="py-2">Mr./MS/Mrs.</h5>
                    <h5 class="py-2">Age:</h5>
                    <h5 class="py-2">Address:</h5>
                    <h5 class="py-2">Contact Number:</h5>
                </div>
                <div class="col-8 col-lg-5 py-2">
                    <h5 class="py-2">Jeffrey Brown</h5>
                    <h5 class="py-2">22</h5>
                    <h5 class="py-2">Matthew Road, Vestal, NY 135, USA</h5>
                    <h5 class="py-2">320-988-3840</h5>
                </div>
            </div>
        </section>
        <footer class="bg-cadet-blue text-white">
            <div class="row container-md align-items-center justify-content-center mx-auto">
                <div class="col-6 col-lg-4 py-3">
                    <h6 class="mb-0"><span style="color: transparent; text-shadow: 0 0 0 #FFF;">&#128222</span> +1
                        392-747-4830</h6>
                </div>
                <div class="col-6 col-lg-4 py-3">
                    <h6 class="text-right mb-0">&#x2709 blah-blah@blah.com</h6>
                </div>
            </div>
        </footer>
    </article>
</body>

</html>